## 이웃한 snp를 단순문자열로 결합하여 사용한 모델
> 예시 : SNP_01 + SNP_02

In [117]:
import pandas as pd
import random
import os
import numpy as np

from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [128]:
raw_data = pd.read_csv('./dataset/train.csv')
data = raw_data.copy()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      262 non-null    object
 1   father  262 non-null    int64
 2   mother  262 non-null    int64
 3   gender  262 non-null    int64
 4   trait   262 non-null    int64
 5   SNP_01  262 non-null    object
 6   SNP_02  262 non-null    object
 7   SNP_03  262 non-null    object
 8   SNP_04  262 non-null    object
 9   SNP_05  262 non-null    object
 10  SNP_06  262 non-null    object
 11  SNP_07  262 non-null    object
 12  SNP_08  262 non-null    object
 13  SNP_09  262 non-null    object
 14  SNP_10  262 non-null    object
 15  SNP_11  262 non-null    object
 16  SNP_12  262 non-null    object
 17  SNP_13  262 non-null    object
 18  SNP_14  262 non-null    object
 19  SNP_15  262 non-null    object
 20  class   262 non-null    object
dtypes: int64(4), object(17)
memory usage: 43.1+ KB

In [119]:
data = data.drop(columns=['id','father','mother','gender'])
data.head()

,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class
0,2,G G,A G,A A,G A,C A,A A,A A,G G,A A,G G,A G,A A,A A,A A,A A,B
1,2,A G,A G,C A,A A,A A,A G,A A,G A,A A,A G,A A,G A,G G,A A,A A,C
2,2,G G,G G,A A,G A,C C,G G,A A,G A,G A,A G,A A,A A,A A,A A,A A,B
3,1,A A,G G,A A,G A,A A,G G,G G,A A,G G,A G,G G,G G,G G,A A,G G,A
4,2,G G,G G,C C,A A,C C,A A,A A,A A,A A,G G,A A,A A,A G,A A,G A,C

In [120]:
data['SNP_16'] = data[['SNP_01', 'SNP_02']].apply(lambda x: ' '.join(x), axis=1)
data['SNP_17'] = data[['SNP_02', 'SNP_03']].apply(lambda x: ' '.join(x), axis=1)
data['SNP_18'] = data[['SNP_03', 'SNP_04']].apply(lambda x: ' '.join(x), axis=1)
data['SNP_19'] = data[['SNP_04', 'SNP_05']].apply(lambda x: ' '.join(x), axis=1)
data['SNP_20'] = data[['SNP_05', 'SNP_06']].apply(lambda x: ' '.join(x), axis=1)
data['SNP_21'] = data[['SNP_06', 'SNP_07']].apply(lambda x: ' '.join(x), axis=1)
data['SNP_22'] = data[['SNP_07', 'SNP_08']].apply(lambda x: ' '.join(x), axis=1)
data['SNP_23'] = data[['SNP_08', 'SNP_09']].apply(lambda x: ' '.join(x), axis=1)
data['SNP_24'] = data[['SNP_09', 'SNP_10']].apply(lambda x: ' '.join(x), axis=1)
data['SNP_25'] = data[['SNP_10', 'SNP_11']].apply(lambda x: ' '.join(x), axis=1)
data['SNP_26'] = data[['SNP_11', 'SNP_12']].apply(lambda x: ' '.join(x), axis=1)
data['SNP_27'] = data[['SNP_12', 'SNP_13']].apply(lambda x: ' '.join(x), axis=1)
data['SNP_28'] = data[['SNP_13', 'SNP_14']].apply(lambda x: ' '.join(x), axis=1)
data['SNP_29'] = data[['SNP_14', 'SNP_15']].apply(lambda x: ' '.join(x), axis=1)

In [121]:
y_data = data['class']
x_data = data.drop(columns = ['class'])
x_test = pd.read_csv('./dataset/test.csv')
x_test = x_test.drop(columns = ['id','father','mother','gender'])

In [122]:
x_test['SNP_16'] = x_test[['SNP_01', 'SNP_02']].apply(lambda x: ' '.join(x), axis=1)
x_test['SNP_17'] = x_test[['SNP_02', 'SNP_03']].apply(lambda x: ' '.join(x), axis=1)
x_test['SNP_18'] = x_test[['SNP_03', 'SNP_04']].apply(lambda x: ' '.join(x), axis=1)
x_test['SNP_19'] = x_test[['SNP_04', 'SNP_05']].apply(lambda x: ' '.join(x), axis=1)
x_test['SNP_20'] = x_test[['SNP_05', 'SNP_06']].apply(lambda x: ' '.join(x), axis=1)
x_test['SNP_21'] = x_test[['SNP_06', 'SNP_07']].apply(lambda x: ' '.join(x), axis=1)
x_test['SNP_22'] = x_test[['SNP_07', 'SNP_08']].apply(lambda x: ' '.join(x), axis=1)
x_test['SNP_23'] = x_test[['SNP_08', 'SNP_09']].apply(lambda x: ' '.join(x), axis=1)
x_test['SNP_24'] = x_test[['SNP_09', 'SNP_10']].apply(lambda x: ' '.join(x), axis=1)
x_test['SNP_25'] = x_test[['SNP_10', 'SNP_11']].apply(lambda x: ' '.join(x), axis=1)
x_test['SNP_26'] = x_test[['SNP_11', 'SNP_12']].apply(lambda x: ' '.join(x), axis=1)
x_test['SNP_27'] = x_test[['SNP_12', 'SNP_13']].apply(lambda x: ' '.join(x), axis=1)
x_test['SNP_28'] = x_test[['SNP_13', 'SNP_14']].apply(lambda x: ' '.join(x), axis=1)
x_test['SNP_29'] = x_test[['SNP_14', 'SNP_15']].apply(lambda x: ' '.join(x), axis=1)

In [123]:
model = RandomForestClassifier(
            max_depth= 5, ## 개별 나무의 최대 깊이
            random_state=1234)

In [124]:
class_le = preprocessing.LabelEncoder()
snp_le = preprocessing.LabelEncoder()
snp_col = ['SNP_01', 'SNP_02', 'SNP_03', 'SNP_04','SNP_05','SNP_06','SNP_07','SNP_08','SNP_09','SNP_10','SNP_11','SNP_12','SNP_13','SNP_14','SNP_15','SNP_16','SNP_17','SNP_18','SNP_19','SNP_20','SNP_21','SNP_22','SNP_23','SNP_24','SNP_25','SNP_26','SNP_27','SNP_28','SNP_29']

In [125]:
snp_data = []
for col in snp_col:
    snp_data += list(x_data[col].values)
y_data = class_le.fit_transform(y_data)
snp_le.fit(snp_data)

for col in x_data.columns:
    if col in snp_col:
        x_data[col] = snp_le.transform(x_data[col])
        x_test[col] = snp_le.transform(x_test[col])

In [126]:
model.fit(x_data,y_data)
preds = model.predict(x_test)
x_test

,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,...,SNP_20,SNP_21,SNP_22,SNP_23,SNP_24,SNP_25,SNP_26,SNP_27,SNP_28,SNP_29
0,1,7,31,0,24,0,7,31,24,24,...,2,13,36,29,26,9,12,30,34,17
1,2,31,7,19,31,19,0,0,0,0,...,20,1,1,1,6,33,8,1,1,1
2,2,31,7,0,0,14,7,0,0,0,...,16,8,1,1,2,8,5,30,32,6
3,2,31,7,14,0,19,0,0,0,0,...,20,1,1,1,6,32,5,26,8,1
4,1,0,31,0,31,0,31,31,0,31,...,6,37,32,6,33,13,36,30,32,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,2,7,31,19,0,14,7,0,31,0,...,16,8,6,32,6,37,32,1,1,5
171,2,31,0,0,0,14,7,0,0,0,...,16,8,1,1,2,8,1,2,8,5
172,2,31,0,0,0,14,7,0,0,0,...,16,8,1,1,6,33,8,2,8,6
173,2,7,31,14,24,19,31,0,24,0,...,23,32,5,25,6,33,8,1,1,1
174,2,31,31,19,24,14,0,24,31,0,...,15,5,30,32,6,37,32,1,1,1

In [127]:
submit = pd.read_csv('./dataset/sample_submission.csv')
submit['class'] = class_le.inverse_transform(preds)
submit.to_csv('./dataset/submit_1.csv', index=False)